body{
    background-color: rgba(255, 248, 209, 1);
}

.heading{
    font-size: 64px;
    font-weight: 600;
    font-family: Playfair Display;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description{
    font-size: 16px;
    font-family: inter;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    display: flex;
    justify-content: center;
}

.btn > button{
    font-size: 16px;
    font-family: Inter;
    background-color: rgba(255, 199, 0, 1);
    border-radius: 8px;
    border-width: 0px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    height: 52px;
    width: 237px;
}

.btn :hover{
    background-color: rgba(227, 150, 0, 1);
}

.btndesc{
    display: flex;
    flex-direction: column;
    gap: 73px;
    margin-top: 15px;
    margin-bottom: 78px;
}

@media (max-width: 426px) {
    .heading{
        font-size: 32px;
    }
    .description{
        padding-left: 28px;
        padding-right: 28px;
    }
    .btndesc{
        gap: 54px;
    }
  }

.our-services{
    
}

.our-services > h2 {
    font-family: inter;
    font-size: 48px;
    margin-left: 88px;
}

/* .image-upper{
    border-radius: 90px;
} */

.image-upper > img {
    height: 422px;
    width: 308px;
    border-radius: 8px;
    margin: 90px;
}

.image-lower > img {
    height: 422px;
    width: 308px;
    border-radius: 8px;
    margin: 90px;
}
