.main {
  background: #fff8d1;
  display: flex;
  column-gap: 95px;
  padding-bottom: 5rem;
}
.left-part {
  margin-left: 88px;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}
.contact-heading {
  color: #000;
  font-size: 44px;
  font-family: Inter;
  font-weight: 700;
  letter-spacing: 0.16px;
}
.form {
  display: flex;
  flex-direction: column;
  padding-top: 31px;
  padding-left: 32px;
  padding-right: 33px;
  padding-bottom: 32px;
  /* border-style: solid; */
  row-gap: 36px;
  background: #ffecba;
}
.form > input {
  width: 587px;
  height: 58px;
  flex-shrink: 0;
  padding-left: 19.2px;
  border-radius: 4px;
  border: 3px solid #ffee92;
  background: #fff8d1;
}
.right-part {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.right-top > h4 {
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  letter-spacing: 0.16px;
}
.right-top > p {
  font-size: 16px;
  font-family: Inter;
}
.right-down > h4 {
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  letter-spacing: 0.16px;
}
.map-image > img {
  width: 357px;
  height: 250px;
  flex-shrink: 0;
}
.form > button {
  border-radius: 8px;
  background: #ffc700;
  padding: 17px 48px;
  width: 129.597px;
  margin-left: 477px;
  border-style: none;
  font-family: Inter;
}
.form > button:hover {
  background: #e39600;
}
#phno {
  margin-top: 36px;
  margin-bottom: 16px;
}
.right-down {
  letter-spacing: 0.16px;
}
#markt {
  margin-top: 20px;
  margin-bottom: 5px;
}
.map-image {
  margin-top: 28px;
}

@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column-reverse;
    gap: 4rem;
    padding: 1.75rem;
  }
  .contact-heading {
    font-size: 1.75rem;
  }
  .form > input {
    width: 100%;
  }
  .form > button {
    margin-left: auto;
    display: flex;
  }
  .left-part {
    margin: 0;
    row-gap: 1.5rem;
  }
}
