body{
    background-color: rgba(255, 248, 209, 1);
}
.top-part {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 88px;
    padding-right: 88px;
}
.heading > h3 {
    font-family: Inter;
    font-size: 48px;
}
.first-desc{
    font-family: Inter;
    font-size: 16px;
}
.image-upper > img {
    height: 422px;
    width: 308px;
    border-radius: 8px;
}
.image-upper{
    display: flex;
    gap: 90px;
    justify-content: space-evenly;
    padding-top: 54px;
}

.image-lower > img {
    height: 422px;
    width: 308px;
    border-radius: 8px;
}
.image-lower{
    display: flex;
    gap: 90px;
    justify-content: space-evenly;
    padding-top: 54px;
}
.lower-icon {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding-bottom: 79px;
    padding-top: 108px;
}
.arrow-icon > img {
    background: rgba(0, 0, 0, 1);
}
.one > p {
    background: rgba(255, 199, 0, 1);
    height: 43px;
    width: 43px;
    border-radius: 50%;

}