body{
    background-color: rgba(255, 248, 209, 1);
}
.top-part {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 88px;
    padding-right: 88px;
}
.heading > h3 {
    font-family: Inter;
    font-size: 48px;
}
.first-desc{
    font-family: Inter;
    font-size: 16px;
}

.lower-icon {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding-bottom: 79px;
    padding-top: 108px;
}
.arrow-icon > img {
    background: rgba(0, 0, 0, 1);
}
.one {
    background: rgba(255, 199, 0, 1);
    height: 43px;
    width: 43px;
    border-radius: 50%;
    border-width: 0;

}

@media only screen and (max-width: 600px) {
    .top-part{
        display: flex;
        flex-direction: column;
        padding-left: 28px;
        padding-right: 28px;
    }
    .heading > h3 {
        size: 28px;
    }
    .first-desc > p{
        font-size: 16px;
    }
    .image-upper{
        display: flex;
        flex-direction: column;
        gap: 36.1px;
        align-items: center;
    }
    .image-lower{
        display: flex;
        flex-direction: column;
        gap: 36.1px;
        align-items: center;
    }
    .Printing {
        margin-top: 111px;
    }
    }