.single-service {
  padding: 0 5.5rem;
  background: #fff8d1;
}
.service-card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 33px;
  margin: 3.37rem 0;
}
.pagination-container {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
@media (max-width: 480px) {
  .single-service {
    padding: 0 1.75rem;
  }
  .service-card-section {
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 2.12rem 0;
  }
}
