.service-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff8d1;
  padding-top: 102px;
}
.heading {
  font-size: 64px;
  font-weight: 600;
  font-family: "Playfair Display";
  margin-bottom: 15px;
}

.description {
  font-size: 16px;
  font-family: "inter";
  font-weight: 400;
  width: 666px;
  text-align: center;
}

.explore-btn {
  font-size: 16px;
  font-family: "Inter";
  background-color: rgba(255, 199, 0, 1);
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  padding: 17px 40px;
  border: none;
  margin-top: 56px;
  margin-bottom: 60px;
}

.explore-btn :hover {
  background-color: rgba(227, 150, 0, 1);
}
@media (max-width: 768px) {
  .heading {
    font-weight: 600;
    font-size: 60px;
  }
}
@media (max-width: 480px) {
  .service-header {
    padding-top: 90px;
  }
  .heading {
    font-size: 32px;
    text-align: center;
  }
  .description {
    width: 264px;
  }
  .explore-btn {
    padding: 12px 19px;
    width: 195px;
  }
}
