.service-section {
  background: #111111;
  padding: 60px 115px;
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  gap: 61px;
  cursor: pointer;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.16px;
  color: #fff;
}
.top-section > button {
  background: #ffc700;
  border-radius: 8px;
  padding: 17px 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.16px;
  cursor: pointer;
}
.top-section > button:hover {
  background: #e39600;
}
.service-cards {
  display: flex;
  justify-content: space-between;
}
.service-card-carousel {
  padding-bottom: 88px;
  width: 308px;
  display: flex;
}
.splide__arrow {
  bottom: 0;
  top: auto !important;
  background: #202020 !important;
}
.splide__arrow svg {
  fill: #fff !important;
}
.splide__pagination {
  bottom: 18px !important;
  padding: 0 !important;
}
.splide__pagination__page.is-active {
  background: #ffc700 !important;
  opacity: 1;
}
@media (max-width: 426px) {
  .service-section {
    padding: 29px 28px;
  }
  .top-section {
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
  }
  .header {
    font-size: 28px;
    line-height: 34px;
  }
  .top-section > button {
    padding: 12px 19px;
    font-size: 12px;
  }
  .bottom-section {
    display: flex;
    justify-content: center;
  }
}
