.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 88px;
  background: #fff8d1;
}

.nav-links {
  display: flex;
  gap: 42px;
}

.nav-links.open {
  transform: translateX(0);
  background: #111111;
}

.nav-links > a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: black;
  text-decoration: none;
  position: relative;
}
.nav-links > a::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  background-color: #ffc700;
  bottom: -2px;
  left: 0;
  transition: width 0.3s ease-in-out; /* Add transition for width */
}
.nav-links > a:hover::before {
  width: 29px;
}

.menu-toggle {
  display: none;
}

.menu-toggle.open {
  position: fixed;
  top: 20px;
  right: 20px;
  display: block;
  cursor: pointer;
  z-index: 1000;
}

.menu-toggle span {
  display: block;
  width: 24px;
  height: 2px;
  background-color: black;
  margin-bottom: 6px;
  transition: transform 0.3s ease-in-out;
}

.open .menu-toggle span:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}

.open .menu-toggle span:nth-child(2) {
  opacity: 0;
}

.open .menu-toggle span:last-child {
  transform: rotate(-45deg) translate(4px, -4px);
}

@media (max-width: 768px) {
  .nav-bar {
    padding: 44px 45px;
  }
}

/* Media query for mobile devices */
@media (max-width: 426px) {
  .nav-bar {
    padding: 20px; /* Adjust the padding for mobile view */
  }

  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 999;
    padding: 25px 28px;
    margin-top: 0px;
    flex-direction: column;
    gap: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  .nav-links > a {
    color: white;
    font-size: 32px;
    line-height: 39px;
  }

  .menu-toggle {
    display: block;
    z-index: 1000;
  }
  .open .menu-toggle {
    background-color: #ffc700;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo-mobile {
    margin-bottom: 100px;
  }
}
